
:root {
    --color-h: #{$h};
    --color-s: #{$s}%;
    --color-l: #{$l}%;
    --color-a: #{$a};

    font-family: 'system';
    color: $white;
    background-color: hsl(var(--color-h), var(--color-s), var(--color-l), var(--color-a));
}