<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include header.html %}
    <main>
        {% include jumbotron.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ content }}
                    
                    <ul>
                    {% for page in site.pages %}
                      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>    
        </div>
    </main>
    {% include footer.html %}
</body>
</html>