---

---

<div class='relative mt-1 md:mt-0'>
  <form
    class='flex ms-2'
    role='search'
    data-dropdown-toggle='searchResults'
    aria-expanded='false'
  >
    <input
      id='search'
      class='w-full px-4 py-2 text-sm text-gray-300 bg-gray-700 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500'
      type='search'
      placeholder='Search'
      aria-label='Search'
    />
    <button
      class='px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-r-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500'
      type='submit'
    >
      Search
    </button>
  </form>
  <div
    id='searchResults'
    class='absolute left-0 z-10 mt-2 w-full bg-gray-800 rounded-md shadow-lg hidden'
  >
    <ul id='results' class='py-1 text-sm text-gray-300'>
      <li class='search-item px-4 py-2'>
        <a href='#' class='block hover:bg-gray-700'>
          <h3 class='text-lg font-medium'>Type your search words.</h3>
          <p class='text-sm text-gray-400'>Press enter.</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<script is:inline type='module'>
  const search = document.querySelector('#search')
  const results = document.querySelector('#results')
  const searchResults = document.querySelector('#searchResults')
  window.pagefind = await import('/pagefind/pagefind.js')

  search?.addEventListener('input', async (e) => {
    // search the index using the input value
    const search = await window.pagefind.search(e.target.value)

    // clear the old results
    results.innerHTML = ''

    // add the new results
    for (const result of search.results) {
      const data = await result.data()
      results.insertAdjacentHTML(
        'beforeend',
        `<li class="search-item px-4 py-2">
          <a href="${data.url}" class="block hover:bg-gray-700">
            <h3 class="text-lg font-medium">${data.meta.title}</h3>
            <p class="text-sm text-gray-400">${data.excerpt}</p>
          </a>
        </li>`
      )
    }

    // Show search results
    searchResults.classList.remove('hidden')
  })

  // Hide search results when clicking outside
  document.addEventListener('click', (e) => {
    if (!search.contains(e.target) && !searchResults.contains(e.target)) {
      searchResults.classList.add('hidden')
    }
  })
</script>

<style>
  #searchResults {
    max-height: 80vh;
    overflow-y: auto;
  }

  #results {
    width: 100%;
  }

  .search-item {
    width: 100%;
    overflow: hidden;
  }
</style>
