$bluegrey: #2B3A42;

html, body {
    font: 16px/1.5 sans-serif;
}

pre {
    padding: 20px;
    color: #dedede;
    text-shadow: 0 1px 1px rgba(#000, .5);
    /*background: $bluegrey url('../../img/code.png') no-repeat center center / 32px 32px;*/
}