$link-color: #008891;
$text-color: #0f3057;

html, body {
    background-color: #f5f5f5;   
    color: $text-color;
    
    a {
        color: $link-color;
        
        &:hover {
            color: lighten($link-color, 10%);
        }
    }
}

blockquote {
    border-left: 4px solid #afefaf;
    padding-left: 1rem;
}

.jumbotron {
    background-color: #00587a;
    border-radius: 0;
    
    .jumbotron-heading {
        color: #e7e7de;
    }
    .text-muted {
        color: #cdcba6 !important;
    }
}

.main {
    overflow: auto;
    background-color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;    
    
    .main-header {
        background-color: #e7e7De;
        overflow: auto;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
}

.footer {
    background-color: #f5f5f5;
    font-size: .8rem;
    padding: 1rem 0;
}

.page-header {
    margin-top: 3rem;
}

.img-fluid {
    width: 100%;
}