/* Line Nos /
============================ */

.codecontainer pre code {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, post millennium */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-x: visible;
}
.codecontainer pre {
  overflow-x: auto;
}

.codecontainer pre code {
  counter-reset: line-numbering;
  position: relative;
}

.codecontainer pre code .line {
  padding:0;
  margin:0;
  display: inline-block;
  line-height: auto;
}

.codecontainer pre code .line::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  width: 2em;
  text-align: right;
  font-size: small;
  opacity: 0.5;
  margin-right: 1.0em; /* space after numbers */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

.codecontainer .highlight {
  padding: 10px;
}

.codecontainer .highlight {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.8em;
  margin-bottom: 13px;
}

.codecontainer {
   background-color: #181818;  
}

.codecontainer .codelabel {
  padding: 0.2em 1em;
  color: #666;
  display: block;
  font-style: oblique;
}

/* / Line Nos
============================ */
