---
import type { GetStaticPathsOptions, Page, PaginateFunction } from 'astro'
import astronautPages from '../../data/astronaughts'
import Layout from '../../layouts/Layout.astro'

interface Astronaught {
  slug: string
  astronaut: string
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(astronautPages, { pageSize: 1 })
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props
---

<Layout title="Astronauts">
  <!--Display the current page number. Astro.params.page can also be used!-->
  <h1>Page {page.currentPage}</h1>
  <ul>
    <!--List the array of astronaut info-->
    {page.data.map(({ astronaut }: Astronaught) => <li>{astronaut}</li>)}
  </ul>

  <pre><code>
{JSON.stringify(page, null, 2)}  
</code></pre>

  {
    page.url.prev ? (
      <p>
        <a href={page.url.prev}>Prev</a>
      </p>
    ) : (
      <p>No Prev </p>
    )
  }

  <!--Display a link to the next page, if it exists-->
  {
    page.url.next ? (
      <p>
        <a href={page.url.next}>Next</a>
      </p>
    ) : (
      <p>No Next</p>
    )
  }
</Layout>
