<section class="jumbotron text-center">
    <div class="container">
        <figure class="figure">
          <img src="/dist/img/alex-torrijos.jpg" class="figure-img img-thumbnail img-fluid rounded-circle" alt="Portrait Photo of Alex Torrijos">
        </figure>
        <h1 class="jumbotron-heading">Alexander R. Torrijos</h1>
        <p class="lead text-muted">Experienced designer and developer</p>
        <div class="row">
            <div class="col-12">
                <a href="https://github.com/stormwild/" target="_blank">Github</a>
                <a href="https://stackoverflow.com/users/92189/stormwild" target="_blank">Stackoverflow</a>
                <a href="https://codepen.io/stormwild/" target="_blank">CodePen</a>
                <a href="https://www.linkedin.com/in/stormwild/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</section>