---

---

<div class='logo'>
  <a href='/'>Stormwild</a>
</div>

<style>
  .logo a {
    font-weight: 600;
    text-decoration: none;
  }

  .logo a,
  .logo a:link,
  .logo a:visited,
  .logo a:hover,
  .logo a:active,
  .logo a:focus {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
</style>
