---
import { clsx } from '@lib/nav/clsx'
import { isActive } from '@lib/nav/helpers'
import type { NavItem } from '@lib/nav/nav-item'

const pathname = new URL(Astro.request.url).pathname

interface Props {
  link: NavItem
}

const { link } = Astro.props
---

<a
  class={clsx(['nav-link', isActive(link, pathname) ? 'active' : ''])}
  href={link.href}
  role='button'
>
  <span>{link.text}</span>
</a>
