---

---

<div class='p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
  <div class='col-lg-6 px-0'>
    <h1 class='display-4'>Title of a longer featured blog post</h1>
    <p class='lead my-3'>
      Multiple lines of text that form the lede, informing new readers quickly
      and efficiently about what’s most interesting in this post’s contents.
    </p>
    <p class='lead mb-0'>
      <a href='#' class='text-muted'><small>Continue reading...</small></a>
    </p>
  </div>
</div>

<div class='row mb-2'>
  <div class='col-md-6'>
    <div
      class='row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'
    >
      <div class='col p-4 d-flex flex-column position-static'>
        <strong class='d-inline-block mb-2 text-primary-emphasis'>World</strong>
        <h3 class='mb-0'>Featured post</h3>
        <div class='mb-1 text-body-secondary'>Nov 12</div>
        <p class='card-text mb-auto'>
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href='#' class='icon-link gap-1 icon-link-hover stretched-link'>
          Continue reading
          <svg class='bi'><use xlink:href='#chevron-right'></use></svg>
        </a>
      </div>
      <div class='col-auto d-none d-lg-block'>
        <svg
          class='bd-placeholder-img'
          width='200'
          height='250'
          role='img'
          aria-label='Placeholder: Thumbnail'
          preserveAspectRatio='xMidYMid slice'
          focusable='false'><use xlink:href='#bg-placeholder'></use></svg
        >
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div
      class='row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'
    >
      <div class='col p-4 d-flex flex-column position-static'>
        <strong class='d-inline-block mb-2 text-success-emphasis'>Design</strong
        >
        <h3 class='mb-0'>Post title</h3>
        <div class='mb-1 text-body-secondary'>Nov 11</div>
        <p class='mb-auto'>
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a href='#' class='icon-link gap-1 icon-link-hover stretched-link'>
          Continue reading
          <svg class='bi'><use xlink:href='#chevron-right'></use></svg>
        </a>
      </div>
      <div class='col-auto d-none d-lg-block'>
        <svg
          class='bd-placeholder-img'
          width='200'
          height='250'
          role='img'
          aria-label='Placeholder: Thumbnail'
          preserveAspectRatio='xMidYMid slice'
          focusable='false'><use xlink:href='#bg-placeholder'></use></svg
        >
      </div>
    </div>
  </div>
</div>
