---
import { Image } from 'astro:assets'
import logo from '@assets/svg/stormwild-logo.svg'
import { pages } from '@lib/nav/pages'
---

<nav class='navbar navbar-expand-lg bg-dark-subtle' data-bs-theme='dark'>
  <div class='container container-xl'>
    <a class='navbar-brand' href='/'>
      <Image
        src={logo}
        alt='Stormwild'
        width='30'
        height='30'
        class='d-inline-block align-text-top'
        loading='eager'
      />
      <span style='text-transform: uppercase;'>Stormwild</span>
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        {
          pages.map((page) => (
            <li class='nav-item'>
              <a class='nav-link' href={page.href} role='button'>
                <span>{page.text}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  const pathname = window.location.pathname
  const links = document.querySelectorAll('.nav-link')

  const activeLink = Array.from(links).find(
    (link) =>
      link.getAttribute('href') === pathname ||
      link.getAttribute('href') === pathname.slice(0, -1)
  )

  if (activeLink) {
    activeLink.classList.add('active')
    activeLink.setAttribute('aria-current', 'page')
  }
</script>
