---
import { BLOG_PAGE_ROOT } from '@lib/common/constants'
import { join } from '@lib/util/join'

const { prefix = BLOG_PAGE_ROOT, page } = Astro.props
---

<div class='row'>
  <div class='col'>
    {
      page.currentPage == 1 ? null : (
        <a href={join([prefix, '1'])} class='btn btn-dark me-2'>
          &laquo; First
        </a>
      )
    }
    {
      page.url.prev ? (
        <a href={page.url.prev} class='btn btn-dark me-2'>
          &lt; Previous
        </a>
      ) : null
    }
    {
      Array.from({ length: Math.ceil(page.total / page.size) }, (_, i) => (
        <a
          href={join([prefix, i + 1 + ''])}
          class={join(
            [
              'btn',
              'btn-dark',
              page.currentPage == i + 1 ? 'active' : '',
              'me-1',
            ],
            ' '
          )}
        >
          {i + 1}
        </a>
      ))
    }
    {
      page.url.next ? (
        <a href={page.url.next} class='btn btn-dark me-2'>
          Next &gt;
        </a>
      ) : null
    }
    {
      page.currentPage == page.lastPage ? null : (
        <a href={join([prefix, page.lastPage])} class='btn btn-dark'>
          Last &raquo;
        </a>
      )
    }
  </div>
</div>
