---

---

<div class='dropdown mt-1 mt-md-0'>
  <form
    class='d-flex ms-2'
    role='search'
    data-bs-toggle='dropdown'
    aria-expanded='false'
  >
    <input
      id='search'
      class='form-control me-2'
      type='search'
      placeholder='Search'
      aria-label='Search'
    />
    <button class='btn btn-outline-secondary' type='submit'>Search</button>
  </form>
  <ul id='results' class='dropdown-menu dropdown-menu-dark mt-2 ms-2'>
    <li class='search-item'>
      <a href='#' class='dropdown-item py-3'>
        <h3 class='h5'>Type your search words.</h3>
        <p class='mb-0'>
          <small>Press enter.</small>
        </p>
      </a>
    </li>
  </ul>
</div>

<script type='module'>
  const search = document.querySelector('#search')
  const results = document.querySelector('#results')
  window.pagefind = await import('/pagefind/pagefind.js')

  search?.addEventListener('input', async (e) => {
    // search the index using the input value
    const search = await window.pagefind.search(e.target.value)

    // clear the old results
    results.innerHTML = ''

    // add the new results
    for (const result of search.results) {
      const data = await result.data()
      results.insertAdjacentHTML(
        'beforeend',
        `<li class='search-item' style="overflow: auto !mportant;">
          <a href="${data.url}" class="dropdown-item py-3">
            <h3 class='h5'>${data.meta.title}</h3>
            <p class="mb-0"><small>${data.excerpt}</small></p>
          </a></li>`
      )
    }
  })
</script>

<style>
  #results {
    max-width: 100%;
    .search-item {
      display: block;
      max-width: 100%;
      overflow: auto;
    }
  }
</style>
