---
import { BLOG_TAGS_ROOT } from '@lib/common/constants'
import { join } from '@lib/util/join'

const { prefix = BLOG_TAGS_ROOT, tags } = Astro.props
---

<div
  class='d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary mb-5'
>
  <div
    class='d-flex align-items-center flex-shrink-0 px-3 py-1 link-body-emphasis text-decoration-none border-bottom'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='20'
      height='20'
      fill='currentColor'
      class='bi bi-tags-fill'
      viewBox='0 0 16 16'
    >
      <path
        d='M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'
      ></path>
      <path
        d='M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z'
      ></path>
    </svg>
    <a
      href={join([BLOG_TAGS_ROOT])}
      title='All Tags'
      class='btn btn-dark btn-link text-decoration-none ms-2'
    >
      <span class='fs-5 fw-semibold'> Tags </span>
    </a>
  </div>
  <ul class='tags list-group list-group-flush border-bottom scrollarea'>
    {
      tags.map((tag: string) => (
        <li class='list-group-item'>
          <a href={join([prefix, tag])} class='btn btn-dark btn-sm'>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
