---
import MainLayout from "@src/layouts/MainLayout.astro";
---

<MainLayout
  title="404 Not Found"
  description="404 Not Found Page"
  keywords={["404", "not found", "missing"]}
>
  <h1>404 Not Found</h1>
</MainLayout>
