---
import Alert from '@components/astro/bootstrap/alert.astro'
import Card from '@components/astro/bootstrap/card.astro'
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { getCollection } from 'astro:content'
import { BLOG_POST_ROOT, BLOG_UNDER_CONSTRUCTION } from '@lib/common/constants'

const posts = await getCollection('posts')
---

<BootstrapLayout title='Blog'>
  <div class='container container-xl pt-5'>
    <div class='row'>
      <div class='col'>
        <Alert variant='warning'> {BLOG_UNDER_CONSTRUCTION}</Alert>
      </div>
    </div>

    <div class='row row-cols-1 row-cols-md-3 g-4'>
      {
        posts.map((post) => (
          <div class='col'>
            <Card prefix={BLOG_POST_ROOT} post={post} />
          </div>
        ))
      }
    </div>
  </div>
</BootstrapLayout>
