---
import Alert from '@components/astro/bootstrap/alert.astro'
import Card from '@components/astro/bootstrap/card.astro'
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { getCollection } from 'astro:content'
import {
  BLOG_PAGE_ROOT,
  BLOG_POST_ROOT,
  BLOG_UNDER_CONSTRUCTION,
} from '@lib/common/constants'
import BlogFeature from '@components/astro/bootstrap/blog-feature.astro'
import { join } from '@lib/util/join'

const posts = await getCollection('posts')

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
)

const notFeatured = sortedPosts.filter(
  (post) => !post.data.tags.includes('featured')
)

const latestPosts = notFeatured.slice(0, 10)

const prefix = BLOG_PAGE_ROOT
---

<BootstrapLayout title='Blog'>
  <div class='container container-xl pt-5'>
    <div class='row'>
      <div class='col'>
        <Alert variant='warning'> {BLOG_UNDER_CONSTRUCTION}</Alert>
      </div>
    </div>

    <BlogFeature />

    <!-- Latest Blog Posts -->
    <div class='row row-cols-1 row-cols-md-3 g-4 mb-4'>
      {
        latestPosts.map((post) => (
          <div class='col'>
            <Card prefix={BLOG_POST_ROOT} post={post} />
          </div>
        ))
      }
    </div>

    <div class='row'>
      <div class='col'>
        <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
          <a href={join([prefix, '1'])} class='btn btn-outline-primary'
            >View All Posts &raquo;</a
          >
        </div>
      </div>
    </div>
  </div>
</BootstrapLayout>
