---
import Counter from "@src/components/astro/Counter.astro";
import MainLayout from "@src/layouts/MainLayout.astro";
import "@src/styles/common.css";
---

<MainLayout
  title="Counter Demo"
  description="Sample counter demo in Astro component"
  keywords={["Stormwild", "Counter Demo", "Astro", "Component"]}
>
  <div class="container">
    <h1>Astro</h1>
    <Counter />
  </div>
</MainLayout>
