---
import DefaultLayout from '@layouts/default-layout.astro'
---

<DefaultLayout title='Home'>
  <main>
    <h1>Hello world!</h1>
  </main>
</DefaultLayout>

<style>
  main > h1:first-child {
    color: gray;
  }
</style>
