---
import MainLayout from '@src/layouts/MainLayout.astro'
const { serverCounter = 24 } = Astro.props
---

<MainLayout
  title='Home'
  description='Home page'
  keywords={['Stormwild', 'Home']}
>
  <h1>Astro</h1>
  <p>Counter: <span class='counter'></span></p>
  <p>{serverCounter}</p>
  <button class='counter-btn'>+</button>
</MainLayout>

<script>
  let counter: number = 0
  const counterDisplay: HTMLSpanElement | null =
    document.querySelector('.counter')
  const btn: HTMLButtonElement | null = document.querySelector('.counter-btn')

  counterDisplay!.innerHTML = counter.toString()

  btn!.addEventListener('click', () => {
    counter++
    counterDisplay!.innerHTML = counter.toString()
  })
</script>
