---
import BaseLayout from '@src/layouts/BaseLayout.astro'
---

<BaseLayout title='Home'>
  list
  <!-- <header class='bg-slate-300'>
    <h1>Home</h1>
  </header>
  <main
    class='border border-3 border-red-300 border-dotted border-spacing-44 border-'
  >
    <p>Yo</p>
  </main>
  <footer>Some footer</footer> -->
</BaseLayout>
