---
import Counter from "@src/components/astro/Counter.astro";
import MainLayout from "@src/layouts/MainLayout.astro";
import "@src/styles/common.css";
---

<MainLayout
  title="Home"
  description="Home page"
  keywords={["Stormwild", "Home"]}
>
  <div class="container">
    <h1>Home</h1>
  </div>
</MainLayout>
