---
import Main from '@components/astro/main.astro'
import DefaultLayout from '@layouts/default-layout.astro'
---

<DefaultLayout title='Home'>
  <Main>
    <h1>Hello world!</h1>
  </Main>
</DefaultLayout>

<style>
  main > h1:first-child {
    color: gray;
  }
</style>
