---
import Jumbotron from '@components/astro/tailwind/jumbotron.astro'
import Skills from '@components/astro/tailwind/skills.astro'
import TailwindLayout from '@layouts/tailwind-layout.astro'
---

<TailwindLayout title='Home'>
  <div class='container mx-auto px-4'>
    <Jumbotron />
    <Skills />
  </div>
</TailwindLayout>
