---
import Navigate from '@components/astro/bootstrap/navigate.astro'
import PostLayout from '@layouts/post-layout.astro'
import { BLOG_POST_ROOT } from '@lib/common/constants'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()

const pathname = Astro.url.pathname
console.log('pathname', pathname)
---

<PostLayout frontmatter={entry.data}>
  <main class='content'>
    <Content />
  </main>
  <Navigate prefix={BLOG_POST_ROOT} post={entry} posts={posts} />
</PostLayout>

<style>
  .content {
    p {
      font-size: 125%;
      font-weight: 300;
      line-height: 32px;
    }
  }
</style>
<!-- <style>
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.2;
      margin-top: 2.14rem;
      margin-bottom: 1rem;
    }
    p,
    li {
      font-size: 125%;
      line-height: 32px;
      letter-spacing: -0.003em;

      font-family: Georgia, 'Times New Roman', Times, serif;

      a {
        font-family: var(--bs-body-font-family);
      }
    }

    p {
      margin-top: 2.14em;
    }

    ul {
      padding: 0;
      list-style: none;
      list-style-image: none;
    }

    li {
      margin-left: 30px;
      padding-left: 0px;
      margin-top: 1em;
      list-style-type: disc;
    }
  }
</style> -->
