---
import Navigate from '@components/astro/bootstrap/navigate.astro'
import PostLayout from '@layouts/post-layout.astro'
import { BLOG_POST_ROOT } from '@lib/common/constants'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()

const pathname = Astro.url.pathname
console.log('pathname', pathname)
---

<PostLayout frontmatter={entry.data}>
  <main class='content'>
    <Content />
  </main>
  <Navigate prefix={BLOG_POST_ROOT} post={entry} posts={posts} />
</PostLayout>

<style>
  .content {
    p,
    li {
      font-size: calc(var(--bs-body-font-size) * 1.25);
      font-weight: 300;
      line-height: 32px;
    }
  }
</style>
