<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/styles.css?v1.0.1">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57710872-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
      <div id="header">
        <nav>
          <li class="title"><a href="/">Alexander R. Torrijos (Home)</a></li>
          <li><a href="/cv">Download CV</a></li>
          <li class="fork"><a href="https://github.com/stormwild/stormwild.github.io" target="_blank">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

    {{ content }}
    
    </div>

    <div class="footer">
      <hr>
      <span class="credits left">Project maintained by <a href="https://github.com/stormwild">stormwild</a></span>
      <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->    
  </body>
</html>