<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/dist/css/styles-8a906d.css" rel="stylesheet"></head>
<body>
    {% include header.html %}
    <main class="main" role="main">
        {% include jumbotron.html %} 
        {{ content }}
    </main>
    {% include footer.html %}
<script type="text/javascript" src="/dist/js/bundle-8a906d.js"></script></body>
</html>