---
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { BLOG_TAGS_ROOT } from '@lib/common/constants'
import { join } from '@lib/util/join'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
const tags = [...new Set(posts.map((post) => post.data.tags).flat())]
---

<BootstrapLayout title='Tags'>
  <div class='container container-xl pt-5'>
    <div class='row'>
      <div class='col'>
        <h1 class='display-4 mb-5'>Tags used by posts</h1>
        <div class='row row-cols-1 row-cols-md-3 g-4'>
          {
            (tags as string[]).map((tag: string) => (
              <div class='col'>
                <div class='card h-100'>
                  <div class='card-body'>
                    <a href={join([BLOG_TAGS_ROOT, tag])} class='btn btn-link '>
                      {tag}
                    </a>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</BootstrapLayout>
