---
import 'bootstrap/dist/css/bootstrap.min.css'

import Header from '@components/astro/bootstrap/header.astro'
import stormwildlogo from '@assets/svg/stormwild-logo.svg'
import Footer from '@components/astro/bootstrap/footer.astro'
import { SITE_NAME } from '@lib/common/constants'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en' data-bs-theme='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href={stormwildlogo.src} />
    <meta name='generator' content={Astro.generator} />
    <title>{title} - {SITE_NAME}</title>
  </head>
  <body>
    <svg xmlns='http://www.w3.org/2000/svg' class='d-none'>
      <symbol id='chevron-right' viewBox='0 0 16 16'>
        <path
          fill-rule='evenodd'
          d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'
        ></path>
      </symbol>
      <symbol id='bg-placeholder' viewBox='0 0 200 250'>
        <title>Placeholder</title><rect
          width='100%'
          height='100%'
          fill='#55595c'></rect><text x='50%' y='50%' fill='#eceeef' dy='.3em'
          >Thumbnail</text
        ></symbol
      >
    </svg>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  [data-bs-theme='dark'] {
    --bs-body-color: #c3c6c6;
  }
</style>
<script>
  import 'bootstrap/dist/js/bootstrap.min.js'
</script>
