---
import 'bootstrap/dist/css/bootstrap.min.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title} - Stormwild</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import 'bootstrap/dist/js/bootstrap.esm.min'

  console.log('bootstrap loaded')
</script>
