---
import '@styles/base.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} - Stormwild</title>
  </head>
  <body>
    <div class='container'>
      <h1>Theme Switcher Example</h1>
      <label for='theme'>Select Theme:</label>
      <select id='theme'>
        <option value='light'>Light</option>
        <option value='dark'>Dark</option>
        <option value='auto'>Auto</option>
      </select>
    </div>
    <slot />
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const themeSelector: HTMLSelectElement | null =
      document.querySelector('#theme')

    if (themeSelector !== null) {
      // Load saved theme from localStorage or default to 'auto'
      const savedTheme = localStorage.getItem('theme') || 'auto'
      themeSelector.value = savedTheme
      applyTheme(savedTheme)

      themeSelector?.addEventListener('change', (e) => {
        const selectedTheme = (e.target as HTMLSelectElement).value
        localStorage.setItem('theme', selectedTheme)
        applyTheme(selectedTheme)
      })
    }
  })

  function applyTheme(theme: string) {
    if (theme === 'auto') {
      if (
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches
      ) {
        document.documentElement.setAttribute('data-theme', 'dark')
      } else {
        document.documentElement.removeAttribute('data-theme')
      }
    } else {
      document.documentElement.setAttribute('data-theme', theme)
    }
  }
</script>
