---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import "./MainLayout.module.css";
const { title, description, keywords } = Astro.props;
---

<BaseLayout title={title} description={description} keywords={keywords}>
  <main role="main">
    <slot />
  </main>
</BaseLayout>
